<form [formGroup]="addressFormPrueba" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Usuario" formControlName="idUsuario">
                        <mat-error *ngIf="addressFormPrueba.controls['idUsuario'].hasError('required')">
                            El Id Usuario es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Duracion" formControlName="duracion">
                        <mat-error *ngIf="addressFormPrueba.controls['duracion'].hasError('required')">
                            La Duracion es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Cantidad Preguntas" formControlName="cantidadpreguntas">
                        <mat-error *ngIf="addressFormPrueba.controls['cantidadpreguntas'].hasError('required')">
                            La Cantidad de Preguntas es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Calificacion" formControlName="calificacion">
                        <mat-error *ngIf="addressFormPrueba.controls['calificacion'].hasError('required')">
                            La Calificacion es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha Prueba"
                                formControlName="fechaprueba">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="addressFormPrueba.controls['fechaprueba'].hasError('required')">
                                La Fecha de Ingreso es <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Areas" formControlName="idArea">
                        <mat-error *ngIf="addressFormPrueba.controls['idArea'].hasError('required')">
                            La Fecha es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!addressFormPrueba.valid">{{accion}}</button>
        </mat-card-actions>
    </mat-card>
</form>