.sidenav-container {
  background-image: url(../../img/Fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mat-list-item a {
  color: #ff0000;
}

a {
  color: #ff0000;
}


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.userIcon {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: right;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidenav-container {
  display: flex;
  height: 100%;
}

mat-sidenav {
  background-color: rgba(110, 200, 255, 0.80)
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Components {
  background-color: rgba(22, 181, 255, 0.2);
  flex: 1;
  overflow: auto;
}

.mat-list-item {
  display: flex;
  align-items: center;
  height: 48px;
}

.mat-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.mat-list-text {
  vertical-align: middle;
}