<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-nav-list>
        <a mat-list-item class="custom-link" href="/Usuarios">
          <mat-icon>person</mat-icon> Usuarios
        </a>
        <a mat-list-item href="/Roles">
          <mat-icon>account_circle</mat-icon> Roles
        </a>
        <a mat-list-item href="/Pruebas">
          <mat-icon>assignment</mat-icon> Pruebas
        </a>
        <a mat-list-item href="/Areas">
          <mat-icon>school</mat-icon> Áreas
        </a>
        <a mat-list-item href="/Estadisticas">
          <mat-icon>bar_chart</mat-icon> Estadisticas
        </a>
        <a mat-list-item href="/Ingresos">
          <mat-icon>input</mat-icon> Ingresos
        </a>
        <a mat-list-item href="/Materias">
          <mat-icon>book</mat-icon> Materias
        </a>
        <a mat-list-item href="/Personas">
          <mat-icon>people</mat-icon> Personas
        </a>
        <a mat-list-item href="/Preguntas">
          <mat-icon>question_answer</mat-icon> Preguntas
        </a>
        <a mat-list-item href="/Rol-Permiso">
          <mat-icon>security</mat-icon> Rol-Permiso
        </a>
        <a mat-list-item href="/Temas">
          <mat-icon>subject</mat-icon> Temas
        </a>
        <a mat-list-item href="/Modulos">
          <mat-icon>extension</mat-icon> Módulos
        </a>
      </mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>StudyFront</span>
      <div class="userIcon">
        <ngx-avatars [name]="nombre" [matMenuTriggerFor]="menu"></ngx-avatars>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>
              <a mat-list-item (click)="salir()">Salir</a>
            </span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>