<form [formGroup]="addressFormRol" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Descripcion" formControlName="descripcionRol">
                        <mat-error *ngIf="addressFormRol.controls['descripcionRol'].hasError('required')">
                            La descipcion es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!addressFormRol.valid">{{accion}}</button>
        </mat-card-actions>
    </mat-card>
</form>