<form [formGroup]="addressFormIngreso" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Usuario" formControlName="idusuario">
                        <mat-error *ngIf="addressFormIngreso.controls['idusuario'].hasError('required')">
                            El Id Usuario es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha Ingreso" formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="addressFormIngreso.controls['fecha'].hasError('required')">
                            La Fecha de Ingreso es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Tipo Ingreso" formControlName="tipo">
                        <mat-error *ngIf="addressFormIngreso.controls['tipo'].hasError('required')">
                            El Tipo de Ingreso es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!addressFormIngreso.valid">{{accion}}</button>
        </mat-card-actions>
    </mat-card>
</form>