<form [formGroup]="addressFormEstadistica" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Id Usuario" formControlName="idUsuario">
                        <mat-error *ngIf="addressFormEstadistica.controls['idUsuario'].hasError('required')">
                            El Id Usuario <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Total Pruebas" formControlName="totalPruebas">
                        <mat-error *ngIf="addressFormEstadistica.controls['totalPruebas'].hasError('required')">
                            El total de Pruebas es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Tiempo Pruebas" formControlName="tiempoPromedio">
                        <mat-error *ngIf="addressFormEstadistica.controls['tiempoPromedio'].hasError('required')">
                            El tiempo de Pruebas es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Promedio" formControlName="promedio">
                        <mat-error *ngIf="addressFormEstadistica.controls['promedio'].hasError('required')">
                            El promedio es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Mejor Materia" formControlName="mejorMateria">
                        <mat-error *ngIf="addressFormEstadistica.controls['mejorMateria'].hasError('required')">
                            La materia es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Peor Materia" formControlName="peorMateria">
                        <mat-error *ngIf="addressFormEstadistica.controls['peorMateria'].hasError('required')">
                            La materia es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!addressFormEstadistica.valid">{{accion}}</button>
        </mat-card-actions>
    </mat-card>
</form>