<form [formGroup]="addressFormPersona" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="cedula" formControlName="cedula" required>
            <mat-error *ngIf="addressFormPersona.controls['cedula'].hasError('required')">
              La cedula es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="addressFormPersona.controls['cedula'].hasError('pattern')">
              Ingrese solo <strong>numeros</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre" required>
            <mat-error *ngIf="addressFormPersona.controls['nombre'].hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido">
            <mat-error *ngIf="addressFormPersona.controls['apellido'].hasError('required')">
              El apellido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Edad" formControlName="edad">
            <mat-error *ngIf="addressFormPersona.controls['edad'].hasError('required')">
              La edad es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="addressFormPersona.controls['edad'].hasError('pattern')">
              Ingrese solo <strong>numeros</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" >
            <input matInput placeholder="Genero" formControlName="genero">
            <mat-error *ngIf="addressFormPersona.controls['edad'].hasError('required')">
              El genero es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class = "row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="correo">
            <mat-error *ngIf="addressFormPersona.controls['correo'].hasError('required') || addressFormPersona.controls['correo'].hasError('email')">
              El correo es <strong>requerido</strong> o debe ser un correo valido. Ej: "Jhon@gmail.com"
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="rol" formControlName="idRol">
            <mat-error *ngIf="addressFormPersona.controls['idRol'].hasError('required')">
              El rol es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addressFormPersona.valid">{{accion}}</button>
    </mat-card-actions>
  </mat-card>
</form>